
body, html {
  margin: 0;
  padding: 0;
  width: 100%;
}
/* .tab.active{
  background-color: #993224;
} */
.header{
  width: 100%;
}
.title h1{
  color: #993224;
  margin: 0;
  cursor: pointer;

}
.title p{
  margin: 0;
  padding:20px 0px;
  cursor: pointer;
}

.nav {
  margin-top: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  align-items: center;
  background-color: #9b9898;
  width: 100%;
}

.tab {
  flex: 1; 
  color: white;
  padding: 14px 0; 
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
}
  .tab:hover {
    background-color: #993224;
  }
  
.tab.active {
  background-color: #993224;
  color: white;
}

.content {
  padding: 20px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 630px) {

  .tab {

    color: white;
    padding: 14px 0; 
    width: 80px;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
}